<div class="w-full h-screen p-14">
  <form
    action="#"
    class="flex flex-col justify-center align-middle w-full gap-4"
  >
    <label
      for="multi-select-tag"
      class="text-xl text-center font-bold text-gray-700"
      >Select Multiple Tags</label
    >
    <app-multi-select
      name="multi-select-tag"
      [options]="options"
      [selectedOptions]="selectedOptions"
      (selectOptionChange)="toggleOption($event)"
      (clearOptionChange)="clearOption()"
    ></app-multi-select>
  </form>
</div>
